* {
    margin: 0;
    padding: 0;
}


/* cabecera */

.titulo a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Courgette', cursive;
}

.titulo img {
    float: right;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-bottom: -20%;
}

.subtitulo {
    text-align: left;
    padding: 110px;
    background-color: rgb(4, 9, 26);
    color: white;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: rgb(29, 33, 48);
    display: flex;
    font-family: 'Barlow', sans-serif;
}

.navbar a {
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

.navbar a:hover {
    background-color: #dddddd;
    color: black;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-image: url(fondo.jpg);
    font-family: 'Barlow', sans-serif;
}

.contenido h1 {
    color: rgb(29, 33, 48);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline rgb(197, 197, 197);
}

.formulario-registro {
    width: 90%;
    max-width: 580px;
    background-color: rgba(0, 0, 0, .2);
    margin: auto;
    border-radius: 15px;
    font-family: 'Barlow', sans-serif;
    margin-top: 30px;
}

.formulario-titulo {
    padding: 30px 30px;
    color: white;
    text-align: center;
    background-color: rgb(29, 33, 48);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 2px white;
}

.contenedor-input {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: solid 2px rgb(4, 9, 26);
    margin-bottom: 10px;
}

.col-30 {
    width: 100%;
}

.btn-ingresar {
    background-color: rgb(4, 9, 26);
    color: white;
    padding: 10px 40px;
    margin: auto;
    cursor: pointer;
    border-bottom: solid 2px white;
}

.btn-limpiar {
    background-color: rgb(4, 9, 26);
    color: white;
    padding: 10px 40px;
    margin: auto;
    cursor: pointer;
    border-bottom: solid 2px white;
}

.btn-ingresar:hover {
    transform: scale(1.2);
}

.btn-limpiar:hover {
    transform: scale(1.2);
}


/* footer */

.footer {
    padding: 10px;
    background-color: rgb(4, 9, 26);
    font-family: 'Barlow', sans-serif;
    color: white;
}

.icon {
    text-align: left;
    color: white;
    margin-left: 37px;
    font-size: 25px;
}

.footer h2 {
    margin-top: 5px;
    font-size: 16px;
}

.footer h3 {
    margin-top: 5px;
    font-size: 130%;
}

.footer h4 {
    text-align: right;
}

.footer h5 {
    color: white;
    text-align-last: center
}

.footer h6 {
    text-align: center;
    margin-top: -20px;
}

.fa-clock {
    margin-right: 10px;
    color: white;
}

@media screen and (max-width:1670px) {
    * {
        margin: 0;
        padding: 0;
    }
    /* cabecera */
    .titulo a {
        text-decoration: none;
        color: white;
        font-size: 44px;
        font-family: 'Courgette', cursive;
    }
    .titulo img {
        float: right;
        width: 300px;
        height: 300px;
        margin-top: -160px;
    }
    .subtitulo {
        text-align: left;
        background-color: rgb(4, 9, 26);
        color: white;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width:1220px) {
    * {
        margin: 0;
        padding: 0;
    }
    /* cabecera */
    .titulo a {
        text-decoration: none;
        color: white;
        font-size: 40px;
        font-family: 'Courgette', cursive;
    }
    .titulo img {
        float: right;
        width: 300px;
        height: 300px;
        margin-top: -120px;
    }
    .subtitulo {
        text-align: left;
        background-color: rgb(4, 9, 26);
        color: white;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
    }
}

@media screen and (max-width:1230px) {
    * {
        margin: 0;
        padding: 0;
    }
    /* cabecera */
    .titulo a {
        text-decoration: none;
        color: white;
        font-size: 32px;
        font-family: 'Courgette', cursive;
    }
    .titulo img {
        float: right;
        width: 300px;
        height: 300px;
        margin-top: -170px;
    }
    .subtitulo {
        text-align: left;
        background-color: rgb(4, 9, 26);
        color: white;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
    }
    .navbar a {
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 12px;
    }
}


/*----------------------------------------------------------------------------------------------------------------------------/*

/*movil*/

@media screen and (min-width: 1px) and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
    }
    .titulo a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: 'Courgette', cursive;
        font-size: 30px;
    }
    .subtitulo img {
        margin-top: -95px;
        float: center;
        width: 250px;
        height: 250px;
    }
    .subtitulo {
        text-align: center;
        background-color: rgb(4, 9, 26);
        color: white;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        height: 180px;
    }
    /*------------------------------------*/
    /*BARRA NAVEGACION*/
    .navbar {
        background-color: rgb(29, 33, 48);
        flex-direction: column;
        font-family: 'Barlow', sans-serif;
    }
    .navbar a {
        color: white;
        padding: 10px 40px;
        text-decoration: none;
        text-align: center;
        font-family: 'Barlow', sans-serif;
    }
    .navbar a:hover {
        background-color: #dddddd;
        color: black;
    }
    /*---------------------------------*/
    /*--------------------------------*/
    /* footer */
    .footer {
        padding: 15px;
        background-color: rgb(4, 9, 26);
        font-family: 'Barlow', sans-serif;
        color: white;
        text-align: left;
    }
    .icon {
        text-align: left;
        color: white;
        margin-left: 3%;
        font-size: 25px;
    }
    .footer h2 {
        margin-top: 5px;
        font-size: 16px;
    }
    .footer h3 {
        margin-top: 5px;
        font-size: 130%;
        text-align: center;
    }
    .footer h4 {
        text-align: center;
    }
    .footer h5 {
        color: white;
        text-align-last: center
    }
    .footer h6 {
        text-align: right;
        margin-top: -20px;
    }
    .fa-clock {
        margin-right: 10px;
        color: white;
    }
}


/*--------------------------------------------------------------------------------------------------------*/


/*tablet*/

@media screen and (min-width: 768px) and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    /* cabecera */
    .titulo a {
        text-decoration: none;
        color: white;
        font-size: 34px;
        font-family: 'Courgette', cursive;
    }
    .titulo img {
        float: right;
        width: 250px;
        height: 250px;
        margin-top: -140px;
    }
    .subtitulo {
        text-align: left;
        background-color: rgb(4, 9, 26);
        color: white;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
    }
    /*BARRA NAVEGACION*/
    .navbar {
        background-color: rgb(29, 33, 48);
        display: flex;
        font-family: 'Barlow', sans-serif;
    }
    .navbar a {
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 12px;
    }
    .navbar a:hover {
        background-color: #dddddd;
        color: black;
    }
    /*----------------------*/
    /*-------------------------*/
    /* footer */
    .footer {
        padding: 15px;
        background-color: rgb(4, 9, 26);
        font-family: 'Barlow', sans-serif;
        color: white;
        text-align: left;
    }
    .icon {
        text-align: left;
        color: white;
        margin-left: 3%;
        font-size: 25px;
    }
    .footer h2 {
        margin-top: 5px;
        font-size: 16px;
    }
    .footer h3 {
        margin-top: 5px;
        font-size: 130%;
        text-align: center;
    }
    .footer h4 {
        text-align: center;
    }
    .footer h5 {
        color: white;
        text-align-last: center
    }
    .footer h6 {
        text-align: right;
        margin-top: -20px;
    }
    .fa-clock {
        margin-right: 10px;
        color: white;
    }
}