<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Local - Cool Wave</title>
    <link rel="icon" type="image/jpg" href="img/054-car-wash-7.png">
    <link rel="stylesheet" href="estilo/estillo_locales.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
</head>
<body>
    <!--CABECERA-->
    <div class="subtitulo">
        <div class="titulo">
            <a href="index.html">Lavado de autos Cool Wave</a>
            <img src="img/—Pngtree—light blue luxury fashion sports_4484917.png" alt="">
        </div>
        <p>Servicio rapido, profesional y confiable</p>
    </div>
    <!--barra de navegacion-->
    <div class="navbar">
        <!--href sirve para poner links-->
        <a href="index.html">Inicio</a>
        <a href="reserva.html">Reserva en linea</a>
        <a href="galeria_imagenes.html">Galeria</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="locales.html">Nuestro local</a>
        <a href="formulario_registro.html">Registrate</a>
        <a href="login.html">Inicio de sesion</a>
        <a href="productos.html">Insumos</a>
    </div>
    <div class="contenido">
        <div class="mapa">
            <h2>Mapa Local Providencia</h2>
            <iframe class="mapaweb" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.6084847754132!2d-70.63310344172177!3d-33.44365335708224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5786d3c1fb7%3A0x4fcf6b9b60d580ad!2sGral%20Bustamante%20201%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1600354086720!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="informacion">
            <h2>Información</h2>
            <h3><i class="fas fa-map-marker-alt"></i>Dirección</h3>
            <li>Gral Bustamante 201, Proviencia, Santiago</li>
            <h3><i class="fas fa-phone"></i>Telefóno</h3>
            <li>(2)234588962</li>
            <h3><i class="fab fa-whatsapp"></i>Whatsapp</h3>
            <li>(+56)966677998</li>
            <h3><i class="far fa-envelope"></i>Correo de Contacto</h3>
            <li>infocontact@coolwave.cl</li>
        </div>
    </div>
    <div class="footer">
        <h3>Cool Wave - Limpieza y Mantenimiento de Vehículos</h3>
        <h4><i class="far fa-clock"></i>Horario de Atención: Lunes a Viernes de 8:00am a 21:00pm</h4>
        <h5>Gral Bustamante 201, Proviencia, Santiago</h5>
        <h5>Número de Contacto: (2)234588962</h5>
        <h5>Whatsapp: (56)966677998</h5>
         <h2>Siguenos en nuestras redes sociales</h2>
        <h1><a class="icon" href="#"><span class="fab fa-facebook-f"></span></a>
        <a class="icon" href="#"><span class="fab fa-instagram"></span></a>
        <a class="icon" href="#"><span class="fab fa-twitter"></span></a>
        <h6>Copyright © 2020 Todos los derechos reservados</h6>
    </div>
</body>
</html>