<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos - Cool Wave</title>
    <link rel="icon" type="image/jpg" href="img/054-car-wash-7.png">
    <link rel="stylesheet" href="estilo/estilo_quie_somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
</head>
<body>
    <!--CABECERA-->
    <div class="subtitulo">
        <div class="titulo">
            <a href="index.html">Lavado de autos Cool Wave</a>
            <img src="img/—Pngtree—light blue luxury fashion sports_4484917.png" alt="">
        </div>
        <p>Servicio rapido, profesional y confiable</p>
    </div>
    <!--barra de navegacion-->
    <div class="navbar">
        <!--href sirve para poner links-->
        <a href="index.html">Inicio</a>
        <a href="reserva.html">Reserva en linea</a>
        <a href="galeria_imagenes.html">Galeria</a>
        <a href="quienes_somos.html">Quienes somos</a>
        <a href="locales.html">Nuestro local</a>
        <a href="formulario_registro.html">Registrate</a>
        <a href="login.html">Inicio de sesion</a>
        <a href="productos.html">Insumos</a>
    </div>
    <div class="contenido">
        <div class="informacion">
            <h2>Nosotros</h2>
            <h4>Cool Wave ofrece un servicio de lavado de autos con alto estándar de calidad, asegurando siempre el cuidado máximo del vehículo.</h4>
            <h4>Se trata de un servicio eficiente con productos importados que protegen la integridad del automóvil en todo momento. Cool Wave cuenta con máquinas de última tecnología que procuran entregar siempre un servicio con altos estándares de calidad a todo tipo de vehículo, además de contar con personal especialmente capacitado.</h4>
            <h4>Llevamos 3 años en el mercado especializándonos en el área de servicio de limpieza automotriz, contamos con la preferencia de miles de clientes, promediando 5.000 autos anuales que han vivido la experiencia Cool Wave.</h4>
            <h4>Gracias a nuestra basta experiencia, nos hemos expandido para entregarte una gama de servicios mayor, ahora tenemos un servicio de automotora, con la gran vitrina que ofrece FlashWash y además contamos con varias sucursales a lo largo de Santiago.</h4>
        </div>
        <div class="mision">
            <h2>Misión</h2>
            <h4>Ser la empresa líder del mercado Nacional de autolavado y estética automotriz móvil, en busca de la excelencia en el ramo, reconocidos por nuestros clientes por la calidad de nuestros productos y servicios.</h4>
            <img src="img/vision y mision/mision.jpg" alt="">
        </div>
        <div class="vision">
            <h2>Visión</h2>
            <h4>Ser una empresa mundial en equipos de autolavado ecológico, caracterizada por ser continuamente innovadora.</h4>
            <img src="img/vision y mision/vision.jpg" alt="">
        </div>
    </div>
    <div class="footer">
        <h3>Cool Wave - Limpieza y Mantenimiento de Vehículos</h3>
        <h4><i class="far fa-clock"></i>Horario de Atención: Lunes a Viernes de 8:00am a 21:00pm</h4>
       <h5>Gral Bustamante 201, Proviencia, Santiago</h5>
        <h5>Número de Contacto: (2)234588962</h5>
        <h5>Whatsapp: (56)966677998</h5>
         <h2>Siguenos en nuestras redes sociales</h2>
        <h1><a class="icon" href="#"><span class="fab fa-facebook-f"></span></a>
        <a class="icon" href="#"><span class="fab fa-instagram"></span></a>
        <a class="icon" href="#"><span class="fab fa-twitter"></span></a>
        <h6>Copyright © 2020 Todos los derechos reservados</h6>
    </div>
</body>
</html>